@font-face {
  font-family: Orator;
  src: url(./../../../../css/fonts/SLN31.otf);
}

.header {
  padding: 46px 0 56px;
  background-color: #f6f1eb;
  font-family: "orator";
}

.header_row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  align-items: center;
  column-gap: 13px;

  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header_nav {
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.header_nav ul {
  display: flex;
  column-gap: 65px;
  align-items: center;
}

.header_nav a {
  color: #000;
}

a.nav_btn {
  padding: 13px 22px 17px;
  background-color: #000;
  border-radius: 7px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: white;
}
